.site-header {
    background: rebeccapurple;
    margin-bottom: 1.45rem;
}

.site-header .header-body {
    position: relative;
    margin: 0 auto;
    max-width: 960px;
    padding: 1.45rem 1.0875rem;
}

.site-header .header-body h1 {
    margin: 0;
    display: inline-block;
    text-shadow: #000 2px 2px 4px;
}

.site-header .header-link {
    color: white;
    text-decoration: none;
}
:focus {
    outline: auto 5px rebeccapurple;
}
.site-header :focus {
    outline: auto 5px white;
}

.site-header nav :focus,
.site-header h1 :focus {
    text-decoration: underline overline;
    outline: none;
}

.site-header .github-link {
    position: absolute;
    top: 20px;
    right: .5em;
    transform: rotate(45deg);
}

.site-header .github-link img {
    width: 80px;
    margin: .5em;
}