header nav {
    display: block;
}

header nav ul {
    list-style-type: none;
    margin: 0;
}

header nav li {
    font-family: monospace;
    display: inline-block;
    padding: 0 .75em;
    margin: 0;
}

header nav a {
    color: white;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}