.youtube-posts ul {
    margin-left: 0;
    color: white;
}

.youtube-posts li:nth-child(even) {
    background-color: rebeccapurple;
}

.youtube-posts li:nth-child(odd) {
    background-color: #aa66ee;
}

.youtube-posts h4 {
    margin-bottom: 0;
    font-size: 2em;
    display: inline-block;
    padding: .5em;
}

.youtube-posts ul a {
    color: #ddd;
    font-style: italic;
    padding: .2em;  
}
